import React from 'react';
import { Card, Title, Text } from '@mantine/core';

export interface {{componentName}}Props {
  brandName?: string;
}

export function {{componentName}}({ brandName = "{{brandName}}" }: {{componentName}}Props) {
  return (
    <Card>
      <Title>{{componentName}} - {brandName}</Title>
      <Text>Login component for {{brandName}}</Text>
      {{#if withMobile}}
      <Text>Mobile support enabled</Text>
      {{/if}}
      {{#if withBranding}}
      <Text>Branding enabled</Text>
      {{/if}}
    </Card>
  );
}